body      {
  max-width: 600px;
  margin: 0 auto;
  font-family: sans-serif;
  font-size: 18px;
  background: #eee;
}

.recipe-header {
  width: 600px;
  box-sizing: border-box;
  background: #fff;
  padding: 20px;
  margin: 10px 0;
}

h1 {
  font-size: 32px;
  background-color: black;
  color: bisque;
  padding: 20px 10px;
  margin-bottom: 10px;
}

.recipe-body {
  width: 600px;
  box-sizing: border-box;
  background: #fff;
  padding: 20px;
  margin: 10px 0 30px 0;
}

.title2 {
  font-size: 20px;
}

.list   {
  background-color: bisque;
  padding: 8px;
}

.ingredients.instructions {
  font-size: 20px;  
  margin-bottom: 20px;
}

.ingredients {
  font-family: monospace;
}

.steps {
  font-family: serif;
  font-style: italic;
}