body      {
  max-width: 600px;
  margin: 0 auto;
  font-family: sans-serif;
  font-size: 16px;
  background: #eee;
}

.intro {
  width: 600px;
  box-sizing: border-box;
  background: #fff;
  padding: 20px;
  margin: 10px 0;
}

.title {
  font-size: 28px;
  display: flex;
  justify-content: center;
  background-color: black;
  color: bisque;
  padding: 15px;
  margin-bottom: 10px;
}

img {
  width: 50%;
  height: auto;
  border: 1px solid #333;
  display: block;
  margin: 0 auto;
}

.recipes {
  display: flex;
  background-color: #fff;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-bottom: 20px;
}